<div class="post-container">
  <div class="post-header">
    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    <span class="post-info">Posted by {{user.username}} on {{displayDate postDate}}</span>
  </div>
  <p>{{content}}</p>
</div>